@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic");

html, body, figure, figcaption, ul, li, h1, p {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

header {
  padding: 10px 10px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center
}

div.header-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 350px;
}

ul {
  list-style: none;
}

body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

div.play-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100px;
  padding-bottom: 5px;
}

div.play {
  background: white;
  border: 2px solid black;
  border-radius: 20px;
  color: black;
  font-weight: bold;
  padding: 5px;
}
.play:hover {
  cursor: pointer;
  background: green;
}

div.score-outer {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

span {
  padding: 5px;
}

figure {
  display: inline-block;
  border: 10px solid black;
}

ul {
}

ul:after {
  content: "";
  clear: both;
  display: block;
}

li {
  float: left;
  width: 20px;
  height: 20px;
}

.apple {
  background: red;
}

.snake {
  background: green;
}

footer {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

ul.icons {
      content: none;
      clear:none;

			cursor: default;
			list-style: none;
			padding-left: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center
      width: 50%;
		}

ul.icons li {
  float: none;
  display: inline-block;
  padding: padding: 10px;
  font-size: 30px;
  width: auto;
  height: auto;
  margin-top: 10px;
}

i {
  padding-right: 10px;
  color: black;
}

a.source {
  color: indianred;
  font-weight: 900;
}
